<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interface_document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interface_document.description %>
</p>

<p>
  <strong>Site:</strong>
  <%= @interface_document.site %>
</p>

<%= link_to 'Edit', edit_interface_document_path(@interface_document) %> |
<%= link_to 'Back', interface_documents_path %>
