<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<p>
  <strong>Interface document:</strong>
  <%= @appointment.interface_document %>
</p>

<p>
  <strong>Aasm state:</strong>
  <%= @appointment.aasm_state %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
